@font-face {
    font-family: 'bignoodletitling';
    src: url('font/bignoodletitling.ttf');
    font-weight: normal;
    font-style: normal;
}

h3{
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'bignoodletitling';
}

.topheader{
    z-index: 99999;
    position: relative;
    width: 100%;
    background: white;
    height: 140px;
}

body{
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
    color: #696969;
}

.logo{
    display: block;
    position: absolute;
    bottom: auto;
}

.logo>a>img{
    margin-top: -10px;
    padding-right: 10px;
    height: 60px;
}

.logo>a{
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 70%;
    color: #696969;
    text-transform: uppercase;
    font-size: 20px;
    line-height: initial;
    font-family: 'bignoodletitling';
}

.main-content{
    width: 100%;
}

.banner{
    background: url(images/slider.jpg) #696969;
    background-blend-mode: multiply, normal;
    display: flex;
    color: #d6d5d5;
    align-items: center;
    min-height: 650px;
    width: 100%;
    background-size: cover;
    text-align: center;
    font-family: 'bignoodletitling';
}

.banner h2{
    font-size: 3rem;
}

.banner p{
    font-size: 2rem;
}

.scrolldown{
    position: absolute;
    left: calc(50% - 52px);
    margin-top: 15%;
}

.scrolldown img{
    margin-bottom: 20px;
}

.scrolldown p{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.head_white_content span{
    display: inline-block;
    width: 200px;
    height: 2px;
    background-color: #f88865;
}

.head_white_content{
    padding: 5%;
    text-align: center;
    width: 100%;
}

.head_white_content p{
    padding: 20px 20% 0px;
    color: #696969;
}

.aboutus{
    margin-bottom: 90px;
}

.advantage{
    text-align: center;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    padding: 30px;
    margin: 3%;
}

.advantage span{
    font-size: 60px;
    color: #f88865;
}

.advantage h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.25px;
    color: #707070;
    padding: 25px 0 13px;
}

.advantage p{
    color: #707070;
    font-size: 14px;
    line-height: 100%;
}

.black_block{
    background-color: #171f23;
    text-align: center;
    color: #f6f6f6;
    padding: 60px 0;
    display: block;
}

h4{
    text-transform: uppercase;
    font-size: 36px;
}

.head_black_content{
    padding-bottom: 20px;
    text-align: center;
}

.head_black_content span{
    display: inline-block;
    width: 80px;
    height: 1px;
    margin: 25px auto 0;
    background: #404040;
}

.numeral>div>span{
    font-size: 60px;
    color: #ff7062;
    padding: 20px;
}

.numeral>div>p{
    padding-top: 20px;
    color: #d8cdcd;
}

.numeral>div>h5{
    color: #f3e7e6;
    font-size: 45px;
}

.audit_info{
    margin: 20px;
    padding: 20px 20% 0px;
}


.price-content-head{
    background: #0e1316;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 0 30px;
}
.price-content-head h4{
    padding-top: 6px;
    font-size: 24px;
}
.price-content-head p{
    margin-top: 25px;
    padding: 0 25px;
    font-size: 14px;
}
.price-content-body{
    background: #1f282c;
    padding: 45px 0 40px;
    letter-spacing: 1px;
    font-weight: 300;
}
.price-content-body p{
    font-size: 15px;
    padding-bottom: 20px;
    color: #ffffff;
}
.price-content-body p span{
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}
.price-content-body a{
    background: #f4511e;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 700;
    padding: 10px 30px;
}
.price-content{
    margin: 5% 0;
    width: 110%;
}
.price-content:hover{
    border: 1px solid #f4511e;
}
.price-content:hover .price-content-body>p>span{
    color: #f4511e;
}

.sinner1{
    padding: 9% 5%;
    text-align: center;
    background: #ebebeb;
    min-height: 440px;
}

.sinner1 img{
    margin: 0 auto;
}

.sinner1 a img{
    display: inherit;
    width: 20%;
}

.sinner1 h4{
    margin-top: 10px;
    font-size: 20px;
}

.sinner2{
    padding: 9% 5%;
    background: #ebebeb;
    min-height: 440px;
}

.sinner2 h4{
    font-family: 'bignoodletitling';
}

.sinner2 p{
    margin-top: 5px;
}

.sinner2 img{
    margin: 10px auto;
}

.team{
    padding-bottom: 90px;
}

.team .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: -34%;
}

.partners{
    background: url(images/cbanner.jpg) no-repeat center center;
    background-size: cover;
    color: #f6f6f6;
    padding: 30px 0;
}

.slides{
    display: flex;
    align-items: center;
}

.innerwidth{
    width: 70%;
    margin: 0 auto;
}

.getintouch{
    padding: 80px 0;
}

.textinput{
    margin: 40px 0;
}

.textinput p, .textmsg p{
    font-weight: 700;
    color: #696969;
    margin-bottom: 5px;
}

.textinput p span, .textmsg p span{
    color: #f6744b;
    margin-left: 5px;
}

.textinput input{
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 90%;
    height: 40px;
    outline: 0;
}

.textmsg textarea{
    border: 0;
    border-bottom: 1px solid #cacaca;
    width: 95%;
    height: 80px;
    padding-top: 10px;
}

.getintouch form{
    width: 70%;
    margin: 0 auto;
}

.submit{
    width: 205px;
    height: 50px;
    letter-spacing: 1px;
    background: #f6744b;
    border: 1px solid #f6744b;
    color: #fff;
    display: block;
    margin: 50px auto 0;
    font-weight: 700;
    text-transform: uppercase;
}

.submit:hover{
    color: #f6744b;
    transition: 0.5s;
    background: white;
}

.textinput input:focus, .textmsg textarea:focus{
    box-shadow: 0px 1px 3px 4px rgba(246, 116, 75, 0.5);
}

.map span{
    margin-left: 10px;
    font-weight: 700;
    color: #f15324;
    font-size: 24px;
}

.accordion-open span::before{
    font-family: 'Linearicons-Free';
    content: "\e873";
}

.accordion-close span::after{
    font-family: 'Linearicons-Free';
    content: "\e874";
}

footer p{
    font-size: 20px;
}

footer h4{
    padding: 20px;
    font-family: 'bignoodletitling';
}

#filters{
    margin: 1% auto;
    width: 100%;
    text-align: center;
}

#filters li{
    display: inline-block;
    padding: 5px 10px;
}

.filter{
    display: block;
    color: #3d3d3d;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
}

.filter.active{
    font-weight: 700;
    color: #3d3d3d;
    border-bottom: 1px solid #e84c3d;
}

#portfoliolist .portfolio{
    width: 20%;
    float: left;
    overflow: hidden;
    display: none;
}

.portfolio-wrapper{
    overflow: hidden;
    position: relative !important;
    cursor: pointer;
}

.portfolio img{
    width: 100%;
    display: block;
    position: relative;
}

.imgDisc2{
    position: absolute;
    color: #fff;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding-top: 120px;
    cursor: pointer;
    transition: 0.5s;
    top: 0;
    left: 0;
    bottom: 0;
}

.imgDisc2 h1{
    font-size: 20px;
    text-transform: uppercase;
}

.portfolio-wrapper:hover .imgDisc2{
    visibility: visible;
    opacity: 1;
}